{% extends "base.html" %}
{% block conteudo %}
<div class="container py-4" style="max-width: 400px;">
  <h3>Alterar Senha</h3>
  <form method="POST">
    <div class="mb-2">
      <label>Senha Atual:</label>
      <input type="password" name="atual" class="form-control" required>
    </div>
    <div class="mb-2">
      <label>Nova Senha:</label>
      <input type="password" name="nova" class="form-control" required>
    </div>
    <div class="mb-2">
      <label>Repita a Nova Senha:</label>
      <input type="password" name="nova2" class="form-control" required>
    </div>
    <button class="btn btn-warning w-100">Alterar Senha</button>
  </form>
</div>
{% endblock %}
